*.dcu
*.~*~
*.~*
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.dll
*.dsk
bin/*
*.local.ini
*.rdp


*.bak
web/QuestionnaireToHTML.xslt
*.rsm
*.rsm
*.rsm
Exec/auth.ini
Exec/local.healthintersections.com.au.key
Exec/ssl.crt
Exec/local.healthintersections.com.au.crt
Exec/ssl.key
Server/Win64/Debug/FHIRServer.rsm
Exec/Temp/HashInfo.txt
install/fhirserver.fb7lck
Exec/certificates/argonaut.healthintersections.com.au.crt
Exec/certificates/argonaut.healthintersections.com.au.csr
Exec/certificates/argonaut.healthintersections.com.au.key
Exec/certificates/fhir-dev.healthintersections.com.au.crt
Exec/certificates/fhir-dev.healthintersections.com.au.csr
Exec/certificates/fhir-dev.healthintersections.com.au.key
Exec/certificates/health_intersections_certs.bat
Exec/certificates/local.healthintersections.com.au.crt
Exec/certificates/local.healthintersections.com.au.csr
Exec/certificates/local.healthintersections.com.au.key
vseditor/Win32/Debug/ValueSetEditor.exe.pec2bac
Server/Win64/Debug/FHIRServerDev.jdbg
Exec/FHIRServerDev.jdbg
npp/fhirnpp.stat
install/fhirserver.fbpInf
Server/FHIRServerDev.stat
Libraries/refplat/openehr.xml
install/fhirvse.fbpInf
install/fhirvse.fbpbrk
*.jdbg
install/fhirserver2.fbl8
install/fhirserver2.fbpbrk
Server/FHIRServer21.stat
Libraries/refplat2/openehr.xml
Server/FHIRServer21.rc
Server/__recovery/__recovery.ini
Server/__recovery/
fhirprojects_prjgroup.tvsconfig
install/fhirnpp.fb8lck
install/fhirserver.fb8lck
tests/FHIRTest.dof
tests/FHIRTest.cfg
tests/FHIRTest.stat
reference-platform/generator/workspace/.metadata/
reference-platform/generator/workspace/.recommenders/
reference-platform/generator/project/.settings/org.eclipse.jdt.core.prefs
install/fhirquick.fbpbrk
install/fhirquick.fbpInf
