*.dcu
*.~*~
*.~*
*.local
*.identcache
__history
*.drc
*.map
*.exe
*.dll
!isxdl.dll
*.dsk
bin/*
*.local.ini
*.rdp
*.bak
web/QuestionnaireToHTML.xslt
*.rsm
Exec/auth.ini
Exec/local.healthintersections.com.au.key
Exec/ssl.crt
Exec/local.healthintersections.com.au.crt
Exec/ssl.key
Server/Win64/Debug/FHIRServer.rsm
Exec/Temp/HashInfo.txt
install/fhirserver.fb7lck
Exec/certificates/argonaut.healthintersections.com.au.crt
Exec/certificates/argonaut.healthintersections.com.au.csr
Exec/certificates/argonaut.healthintersections.com.au.key
Exec/certificates/fhir-dev.healthintersections.com.au.crt
Exec/certificates/fhir-dev.healthintersections.com.au.csr
Exec/certificates/fhir-dev.healthintersections.com.au.key
Exec/certificates/health_intersections_certs.bat
Exec/certificates/local.healthintersections.com.au.crt
Exec/certificates/local.healthintersections.com.au.csr
Exec/certificates/local.healthintersections.com.au.key
vseditor/Win32/Debug/ValueSetEditor.exe.pec2bac
Server/Win64/Debug/FHIRServerDev.jdbg
Exec/FHIRServerDev.jdbg
npp/fhirnpp.stat
install/fhirserver.fbpInf
Server/FHIRServerDev.stat
Libraries/refplat/openehr.xml
install/fhirvse.fbpInf
install/fhirvse.fbpbrk
*.jdbg
install/fhirserver2.fbl8
install/fhirserver2.fbpbrk
Server/FHIRServer21.stat
Libraries/refplat2/openehr.xml
Server/FHIRServer21.rc
Server/__recovery/__recovery.ini
Server/__recovery/
fhirprojects_prjgroup.tvsconfig
install/fhirnpp.fb8lck
install/fhirserver.fb8lck
tests/FHIRTest.dof
tests/FHIRTest.cfg
tests/FHIRTest.stat
reference-platform/generator/workspace/.metadata/
reference-platform/generator/workspace/.recommenders/
reference-platform/generator/project/.settings/org.eclipse.jdt.core.prefs
install/fhirquick.fbpbrk
install/fhirquick.fbpInf
install/fhirquick.fbl8
Server/FHIRServer3_project.tvsconfig
install/fhirquick.fb8lck
RDPs/
install/helper/installer.stat
utils/FhirServerUtils.stat
utils/FhirServerUtils.rsb
tests/FHIRServerTests.stat
Server/win64_3/Debug/TestInsightSettings.ini
Server/FHIRServer3.cfg
Server/win64_3/Debug/dunitx-results.xml
*.o
*.ppu
Exec/certificates/local.healthintersections.com.au.int.cer
Server/FHIRServer4.cfg
bridge/ExampleBridgeServer.stat

reference-platform/support/__recovery/

Exec/dunitx-results\.xml

*.stat

Server/OSX32/Debug/fhirserverOSX4\.info\.plist

Server/OSX32/Debug/fhirserverOSX4\.entitlements

Server/OSX32/Debug/

Server/info\.plist\.TemplateOSX\.xml

reference-platform/support/backup/

Server/Entitlement\.TemplateOSX32\.xml

reference-platform/support/Tests/backup/

Exec/certificates/
*.tmp
utils/AppEndorserUI/OSX32/Debug/AppEndorser.info.plist
utils/AppEndorserUI/OSX32/Debug/AppEndorser.entitlements
utils/AppEndorserUI/OSX32/Debug/AppEndorser

utils/VocabTxServer/Win64/Debug/web\.zip
utils/VocabTxServer/install/vocabpoc.fbpInf
utils/VocabTxServer/install/vocabpoc.fb8lck
utils/VocabTxServer/VocabTxServer.rsb
utils/VocabTxServer/install/vocabpoc.fbpbrk

toolkit/OSX32/Debug/FHIRToolkit

toolkit/install/toookit\.fbl8

toolkit/install/toookit\.fbpbrk

toolkit/install/toookit\.fbpInf

toolkit/install/toookit\.fb8lck

Server/win64_3/Debug/FHIRServer3\.exe - Shortcut\.lnk

tests/Win64/Debug/TestInsightSettings\.ini

toolkit/install/fhir-toolkit-osx-0\.0\.3\.zip

toolkit/install/fhir-toolkit-osx-0\.0\.4\.zip

toolkit/install/osx/FHIRToolkit\.app/Contents/MacOS/FHIRToolkit
toolkit/install/*.zip

utils/VocabTxServer/OSX32/Debug/VocabTxServer

utils/VocabTxServer/install/osx/VocabTxServer\.app/Contents/MacOS/
utils/VocabTxServer/install/vocabpoc-*.zip
tests/Win32/Debug/TestInsightSettings.ini
Libraries/db/old/
Exec/ssl64 source/
Exec/ssl32 source/
FHIRToolkit.exe - Shortcut.lnk
toolkit/install/server.inc
install/fhirserver.fbl8
*.fbl8

Libraries/js/synopse/

Libraries/js/archive/

Libraries/java/readme\.html
