!isxdl.dll
*.bak
*.cmds
*.dcu
*.dll
*.drc
*.dsk
*.exe
*.fbl8
*.identcache
*.jdbg
*.local
*.local.ini
*.lps
*.map
*.o
*.ppu
*.rdp
*.rsm
*.stat
*.tmp
*.~*
*.~*~
Core
dependencies/treeview/Packages
exec/32/*.adu
exec/64/FHIRServer
exec/64/fhir-vcl-demo.log
exec/64/link*.res
exec/FHIRServerDev.jdbg
exec/Temp/HashInfo.txt
exec/auth.ini
exec/certificates/
exec/certificates/argonaut.healthintersections.com.au.crt
exec/certificates/argonaut.healthintersections.com.au.csr
exec/certificates/argonaut.healthintersections.com.au.key
exec/certificates/fhir-dev.healthintersections.com.au.crt
exec/certificates/fhir-dev.healthintersections.com.au.csr
exec/certificates/fhir-dev.healthintersections.com.au.key
exec/certificates/health_intersections_certs.bat
exec/certificates/local.healthintersections.com.au.crt
exec/certificates/local.healthintersections.com.au.csr
exec/certificates/local.healthintersections.com.au.int.cer
exec/certificates/local.healthintersections.com.au.key
exec/dunitx-results\.xml
exec/fhir-dev-linux.ini
exec/local.healthintersections.com.au.crt
exec/local.healthintersections.com.au.key
exec/ssl.crt
exec/ssl.key
exec/ssl32 source/
exec/ssl64 source/
FHIRToolkit.exe - Shortcut.lnk
Libraries/archive
Libraries/db/old/
Libraries/java/readme\.html
Libraries/js/archive/
Libraries/js/synopse/
Libraries/refplat/openehr.xml
Libraries/refplat2/openehr.xml
Protocols
RDPs/
server/*.rsb
server/C:/work/fhirserver/exec/64/
server/C:/work/fhirserver/exec/64/link14120.res
server/Entitlement\.TemplateOSX32\.xml
server/FHIRServer21.rc
server/FHIRServer21.stat
server/FHIRServer3.cfg
server/FHIRServer3_project.tvsconfig
server/FHIRServer4.cfg
server/FHIRServerDev.stat
server/Modules/backup
server/OSX32/Debug/
server/OSX32/Debug/fhirserverOSX4\.entitlements
server/OSX32/Debug/fhirserverOSX4\.info\.plist
server/Win64/Debug/FHIRServer.rsm
server/Win64/Debug/FHIRServerDev.jdbg
server/__recovery/
server/__recovery/__recovery.ini
server/backup
server/info\.plist\.TemplateOSX\.xml
server/lib/i386-win32
server/lib/x86_64-darwin
server/lib/x86_64-linux
server/lib/x86_64-win64
server/win64_3/Debug/FHIRServer3\.exe - Shortcut\.lnk
server/win64_3/Debug/TestInsightSettings.ini
server/win64_3/Debug/dunitx-results.xml
System
System
__history
bin/*
bridge/ExampleBridgeServer.stat
dependencies/$stem
dependencies/FMM/backup
dependencies/FMMAVX/backup
dependencies/chakracore-delphi/backup
dependencies/jcl/backup
dependencies/stem/backup
dependencies/treeview/Source/*.hpp
fhirprojects_prjgroup.tvsconfig
freepascal/lib/x86_64-win64
install/build/*.zip
install/fhirnpp.fb8lck
install/fhirquick.fb8lck
install/fhirquick.fbl8
install/fhirquick.fbpInf
install/fhirquick.fbpbrk
install/fhirserver.fb7lck
install/fhirserver.fb8lck
install/fhirserver.fbl8
install/fhirserver.fbpInf
install/fhirserver2.fbl8
install/fhirserver2.fbpbrk
install/fhirvse.fbpInf
install/fhirvse.fbpbrk
install/helper/installer.stat
library/backup
library/base/__recovery
library/base/backup
library/cache/backup
library/cda/backup
library/cdshooks/backup
library/client/backup
library/cql/backup
library/database/backup
library/java/backup
library/javascript/backup
library/loinc/backup
library/r2/backup
library/r2gen
library/r3/backup
library/r3gen
library/r4/backup
library/r4/tests/backup
library/r4gen
library/r5/backup
library/r5/r5gen
library/r5/r5gen/*.pas
library/r5gen
library/smart/backup
library/snomed/backup
library/support/backup
library/tools/backup
library/ucum/backup
library/v2/backup
library/version/backup
library/web/backup
library/wp/backup
library/xversion/backup
npp/fhirnpp.stat
reference-platform/dstu3gen
reference-platform/generator/project/.settings/org.eclipse.jdt.core.prefs
reference-platform/generator/workspace/.metadata/
reference-platform/generator/workspace/.recommenders/
reference-platform/r4/compiled
reference-platform/r4/fhirtests4_Icon.ico
reference-platform/r4gen
reference-platform/r4gen
reference-platform/support/Tests/backup/
reference-platform/support/__recovery/
reference-platform/support/backup/
tests/FHIRServerTests.stat
tests/FHIRTest.cfg
tests/FHIRTest.dof
tests/FHIRTest.stat
tests/Win32/Debug/TestInsightSettings.ini
tests/Win64/Debug/TestInsightSettings\.ini
toolkit/*.deployproj
toolkit/*.rsb
toolkit/OSX32/Debug
toolkit/OSX32/Debug/FHIRToolkit
toolkit/OSX32/Debug/FHIRToolkitR3
toolkit/OSX64/Debug/FHIRToolkitR3
toolkit/OSX64/Debug/FHIRToolkitR3.dSYM
toolkit/OSX64/Debug/FHIRToolkitR4
toolkit/OSX64/Debug/FHIRToolkitR4.dSYM
toolkit/Win64/Debug/*.cmds
toolkit/install/*.zip
toolkit/install/fhir-toolkit-osx-0\.0\.3\.zip
toolkit/install/fhir-toolkit-osx-0\.0\.4\.zip
toolkit/install/osx/FHIRToolkit\.app/Contents/MacOS/FHIRToolkit
toolkit/install/server.inc
toolkit/install/toookit\.fb8lck
toolkit/install/toookit\.fbl8
toolkit/install/toookit\.fbpInf
toolkit/install/toookit\.fbpbrk
utilities/VocabTxserver/*.rsb
utilities/VocabTxserver/OSX32/Debug
utilities/VocabTxserver/install/osx/VocabTxServer.app/Contents/MacOS/loinc_261.cache
utilities/_v2JS
utilities/cde/samples
utilities/console/backup
utilities/console/lib/i386-win32
utilities/console/lib/x86_64-darwin
utilities/console/lib/x86_64-linux
utilities/console/lib/x86_64-win64
utilities/freepascal/backup
utilities/freepascal/backup
utilities/freepascal/lib/x86_64-win64
utilities/freepascal/lib/x86_64-win64/*.compiled
utilities/generator/workspace/.metadata
utilities/nppformats/release/*.zip
utilities/publisher/Win32/Debug/fhir-publisher.ini
utilities/tests/backup
utilities/tests/lib/i386-win32
utils/AppEndorserUI/OSX32/Debug/AppEndorser
utils/AppEndorserUI/OSX32/Debug/AppEndorser.entitlements
utils/AppEndorserUI/OSX32/Debug/AppEndorser.info.plist
utils/FhirServerUtils.rsb
utils/FhirServerUtils.stat
utils/VocabTxserver/OSX32/Debug/VocabTxServer
utils/VocabTxserver/VocabTxServer.rsb
utils/VocabTxserver/Win64/Debug/web\.zip
utils/VocabTxserver/install/osx/VocabTxServer\.app/Contents/MacOS/
utils/VocabTxserver/install/vocabpoc-*.zip
utils/VocabTxserver/install/vocabpoc.fb8lck
utils/VocabTxserver/install/vocabpoc.fbpInf
utils/VocabTxserver/install/vocabpoc.fbpbrk
utils/cde/samples
vseditor/Win32/Debug/ValueSetEditor.exe.pec2bac
web/QuestionnaireToHTML.xslt
/exec/32
/exec/64
/exec/*.ini
/exec/pack/loinc-2.65.cache
/server/tests/backup
/library/npm/backup
/tests.ini
/exec/pack/fhirserver.web
/utilities/console/lib/win32-release
/utilities/console/lib/win64
/testcases/v2dict/hl7_94Jul2018.mdb
/server/lib
server/r:

testcases/snomed/

.DS_Store
/dependencies/Indy10/OpenSSL/backup
/toolkit2/backup
/toolkit2/lib/x86_64-win64
/library/ui/backup
/toolkit2/editors/backup
/toolkit2/stores/backup
/toolkit2/stores/backup/FHIR.Toolkit.FileStore.pas
/testcases/v2dict/*.ldb
toolkit2/lib/x86_64-darwin/

toolkit2/lib/x86_64-linux/
/toolkit2/frames/backup
/library/fhir2/backup
/library/fhir3/backup
/library/fhir4/backup
/library/fhir5/backup
/library/fhir5/backup
/library/fdb/backup
/library/fui/backup
/packages/lib/x86_64-win64

packages/lib/x86_64-linux/

packages/lib/x86_64-darwin/
/server/admin/backup
/Exec/fhir.dev.local.cfg
/packages/lib/i386-win32
/Exec/certs
/toolkit2/views/backup
/server/fhirserver.testing.ini
