<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>VocabTxServer</string>
	<key>CFBundleDisplayName</key>
	<string>Hl7 Vocab Terminology Serer</string>
	<key>CFBundleIdentifier</key>
	<string>org.fhir.tools.vocabpoc</string>
	<key>CFBundleVersion</key>
	<string>0.0.1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>YES</string>
	<key>CFBundleExecutable</key>
	<string>VocabTxServer</string>
	<key>NSHighResolutionCapable</key>
	<string>true</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>The reason for accessing the location information of the user</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The reason for accessing the location information of the user</string>
	<key>NSContactsUsageDescription</key>
	<string>The reason for accessing the contacts</string>

	<key>CFBundleIconFile</key>
	<string>VocabTxServer.icns</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>

</dict>
</plist>
